<div class="subscribe{{#if is_popup}} popup{{/if}}">
    <a href="https://podcasts.apple.com/us/podcast/breadcrumbs/id1141684029" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
       <img src="{{asset "/images/apple-podcasts.png"}}" alt="Apple Podcasts">
        <span class="subscribe-text">Apple</span>
    </a>
    <a href="https://overcast.fm/itunes1141684029" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <img src="{{asset "/images/overcast.png"}}" alt="Overcast">
        <span class="subscribe-text">Overcast</span>
    </a>
    <a href="https://castro.fm/itunes/1141684029" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <img src="{{asset "/images/castro.png"}}" alt="Castro">
        <span class="subscribe-text">Castro</span>
    </a>
    <a href="{{@site.url}}/rss" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <img src="{{asset "/images/rss.png"}}" alt="RSS">
        <span class="subscribe-text">RSS</span>
    </a>
</div>